
<footer>
    <div class="container">
        <center>
            <p>Copyright &copy;  All Rights Reserved  | <a href="#">Contact Us</a>  </p>
        </center>
    </div>
</footer>
<script type="text/javascript" src = "main.js">

</script>
</body>
</html>
