
<footer>
    <div class="container">
        <center>
            <p>Copyright &copy;  All Rights Reserved  | <a href="#">Contact Us</a>  </p>
        </center>
    </div>
</footer>

</body>
</html>
