<% include ./partials/header %>


<div class="jumbotron">
		<h1 class="text-center">Landing Page</h1>
	</div>
<div class="container">


		<div class="row">
			<div class="col-md-3">



				<div class="container">
				<ul>
					<li>Deep Learning</li>
					<li>Algorithm</li>
					<li>Web Development</li>
					<li>Andriod Development</li>
				</ul>
			</div>


		</div>

		<div class="col-md-9">



			<div class="container">
			<ul>
				<li>Deep Learning</li>
				<li>Algorithm</li>
				<li>Web Development</li>
				<li>Andriod Development</li>
			</ul>
		</div>


	</div>


		</div>

</div>

<% include ./partials/footer %>
