<% include ./partials/header %>


<div class="jumbotron">
		<h1 class="text-center">Landing Page</h1>
    <a href="/blog/new" class="btn btn-primary btn-lg">Create Blog</a>
	</div>
<div class="container">


		<div class="row">
			<div class="col-md-3">


				<div class="row-offcanvas row-offcanvas-left">
       <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>Communities</h3>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
        </ul>
      </div>
  </div>



		</div>
</div>

		<div class="col-md-9">


      
    <div class="row">
		<div class="col-sm-4">
      <% blog.forEach(function(body){ %>

                      <a href="#" >
                          <div class="thumbnail">
                              <img src="<%= body.image %>">
                              <div class="caption">
                                  <h3><%= body.name %></h3>
                                  <p><%= body.description.substring(0,100) %></p>
                              </div>
                          </div>
                      </a>
                 <%  }); %>
              </div>
          </div>
	
</div>
	



	</div>


		</div>

</div>


<% include ./partials/footer %>
